*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 16px;
}
.product{
    cursor: pointer;
    padding: 1.5em;
    border: 1px solid black;
    width: 300px;
}
img{
    max-width: 150px;
    max-height: 150px;
}
.text-align{
    text-align: center;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}